.tanitim{
    padding: 5px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}
.aciklama{
    margin: 2px;
    text-align: center;
}
.yapilis{

    margin: 25px;
    text-align: center;
}
h3{
    color: antiquewhite;
}

.resim{
    
    /* background-color: rgb(255, 38, 0); */
    text-align: center;
    background-image: url(https://yemek.com/_next/image/?url=https%3A%2F%2Fcdn.yemek.com%2Fmncrop%2F940%2F625%2Fuploads%2F2014%2F10%2Fkarniyarik-yemekcom.jpg&w=1920&q=75);
    margin: 50px;
    image-orientation: flip;
    
}
.baslik{
    color: rgb(134, 252, 0);
    background-color: aqua;
    text-align: center;
    margin: 35px;
}

*{
    color: rgb(151, 245, 0);
    background-image: url();
    background-color: rgb(80, 25, 231);
    margin: 0;
    padding: 0;
}